:root {
    --primary-color: #ff4a4a;
    --bullet-size: 7px;
    --active-bullet-size: 14px;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px !important;
    height: 450px !important;
}

.swiper-wrapper {
    height: fit-content !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    position: relative;
    top: 10px !important;
    text-align: left !important;
    margin: 4px;
}

.swiper-pagination-bullet {
    height: var(--bullet-size) !important;
    width: var(--bullet-size) !important;
    margin: 0 2px !important;
    border-radius: 50% !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

.swiper-pagination-bullet-active {
    background-color: transparent !important;
    border: 2px solid var(--primary-color) !important;
    position: relative !important;
    height: var(--active-bullet-size) !important;
    width: var(--active-bullet-size) !important;
    vertical-align: middle !important;
}

.swiper-pagination-bullet-active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--bullet-size);
    width: var(--bullet-size);
    background-color: var(--primary-color);
    border-radius: 50%;
}

/* HOVER CONTENT CSS */
.hover-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out forwards;    
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.swiper-slide:hover .hover-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
}

.WebDevIcon {
    width: 2.4rem;
    height: 2.4rem;
}

.hover-content a {
    border: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: 80%;
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
    background-color: white;
}

.hover-content a span {
    font-weight: 400;
    letter-spacing: 2px;
    width: 70%;
}

.hover-content a div {
    width: 30%;
}