.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px !important;
    height: 450px !important;
}

.swiper-wrapper {
    height: fit-content !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    position: relative;
    top: 10px !important;
    text-align: left !important;
    margin: 4px;
}

.swiper-pagination-bullet {
    height: 7px !important;
    width: 7px !important;
    margin: 0 2px !important;
    border-radius: 50% !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

.swiper-pagination-bullet-active {
    background-color: transparent !important;
    border: 2px solid #ff4a4a !important;
    position: relative !important;
    height: 14px !important;
    width: 14px !important;
    vertical-align: middle !important;
}

.swiper-pagination-bullet-active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7px;
    width: 7px;
    background-color: #ff4a4a;
    border-radius: 50%;
}

/* HOVER CONTENT CSS */
.hover-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: -5px; */
    object-fit: cover;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* .hover-content h3{
    m
} */

.swiper-slide:hover .hover-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WebDevIcon {
    width: 2.4rem;
    height: 2.4rem;
}


.hover-content a {
    border: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: 80%;
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
    background-color: white;
}


.hover-content a span {
    font-weight: 400;
    letter-spacing: 2px;
    width: 70%;
}

.hover-content a div {
    width:30%;
}