:root {
    --border-color: #b6b5ba;
    --label-color: #6F718F99;
    --active-label-color: #b6b5ba;
    --checkbox-border-color: #f15b6a;
    --button-bg-color: #FF3147;
    --button-hover-bg-color: #f15b6a;
    --button-text-color: white;
}

.custom-form-control {
    border: none;
    border-bottom: 2px solid var(--border-color);
    border-radius: 0;
    outline: none;
    width: 100%;
    padding: 8px 0;
    margin-bottom: 20px;
    font-size: 16px;
}

.floating-label-container {
    position: relative;
}

.floating-label {
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 16px;
    color: var(--label-color);
    transition: 0.2s ease all;
    transform: translateY(-50%);
    pointer-events: none;
    margin-bottom: 1px;
}

.custom-form-control:focus~.floating-label,
.floating-label.active {
    top: -10px;
    left: 0;
    font-size: 12px;
    color: var(--active-label-color);
}

.form-check-input {
    margin-top: 5px;
    margin-right: 10px;
    border: solid 2px var(--checkbox-border-color) !important;
}

#form-button {
    background-color: var(--button-bg-color);
    display: block;
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
}

#form-button:hover {
    background-color: var(--button-hover-bg-color);
}