:root {
    --primary-color: #FF3147;
}

.selected-block {
    background-color: var(--primary-color) !important;
    color: white !important;
    border-color: var(--primary-color) !important;
}

#mainImage {
    object-fit: cover;
    max-height: 400px;
    width: 100%;
    transition: opacity 0.3s ease;
}

@media (max-width: 767.98px) {
    .ourProjects h1 {
        font-size: 2rem;
    }

    .ourProjects img {
        max-height: 300px;
    }
}

.hidden {
    opacity: 0;
}

.image-block {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    padding: 10px;
}